{% extends 'shared/base.html' %}

{% block content %}


        <h1 class="text-center">PHOTOS</h1>

        {% if request.user.is_authenticated %}


            {% if user_photos %}
                <h2>My Photos</h2>

                    {% for photo in user_photos %}

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ photo.image.url }}" width="250px" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ photo.event.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ photo.name }}</h6>
                                <a href="{% url 'photo create' %}" class="btn btn-success" style="">Add Photo</a>
                                <a href="{% url 'photo update' photo.id %}" class="btn btn-primary">Update</a>
                                <a href="{% url 'photo delete' photo.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
            {% endif %}

            <h2>Event Photos</h2>

            {% for event in events_with_photos %}

            <h6 class="text-center">{{ event.name }}</h6>

                {% for photo in photos_ordered_by_event %}
                    {% if photo not in user_photos %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{ photo.image.url }}" width="250px" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">{{ photo.name }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'photo create' %}" class="btn btn-success" style="">Add Photo</a>
            {% endfor %}

        {% else %}

            {% if request.user.is_authenticated %}
                <a href="{% url 'photo create' %}" class="btn btn-success">Add Photo</a>
            {% else %}
                <h6 class="text-center">Please Log in to your account or Sign up!</h6>
                <a href="{% url 'log in' %}" class="btn btn-success">Log In</a>
                <a href="{% url 'sign up' %}" class="btn btn-primary">Sign Up</a>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}
